
#main{
    margin: 0 auto;
    width: 100%;
}
#main div{
    border-bottom: 1px solid #eeeeee;
    height: 2rem;
    line-height: 2rem;
    margin: 0 0.5rem;
}
#main div{
    clear: both;
    padding: 1rem 0;
}
#main div p{
    display: inline-block;
    float: left;
    color: #aaaaaa;
}
#main div .check{
    opacity: 0;
    position: absolute;
    right: 33%;
    color: red;
    transition: 0.7s;
    font-size: 0.6rem;
}
#main div p span{
    color: orange;
}
#main div input,#main div select{
    float: right;
    line-height: 1.5rem;
    font-size: 0.6rem;
}
#main div input{
    width: 31%;
    margin-top: 0.1rem;
}
#main div select{
    margin: 0.5rem 0 0;
}
#main div select option{
    height: 1.5rem;
    font-size: 0.6rem;
}

#main button{
    width: 60%;
    margin: 1rem 0 0 20%;
    border-radius: 1.5rem;
    height: 3rem;
    background-color:#1874CD;
    border:1px solid seashell;
    color: #ffffff;
    font-size: 1.2rem;
    outline: none;
}
#marketing{
    color: skyblue;
}