#main{
    margin: 0 auto;
    width: 100%;
    height: 38rem;
}
#main div{
    border-bottom: 1px solid #eeeeee;
    height: 3rem;
    line-height: 3rem;
    margin: 0 0.5rem;
}
#main div p{
    display: inline-block;
    float: left;
    color: #aaaaaa;
}
#main div h4{
    float: right;
    line-height: 3rem;
    font-size: 1.2rem;
}
article ul{
    margin: 2rem 0 0 10%;
}
article ul li{
    line-height: 3rem;
}
#marketing{
    color: skyblue;
}
#style4{
    border: 0;
}